body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
}

.log-container {
    z-index: 2;
    height: 200px;
    width: 320px;
    position: fixed;
    top: 8px;
    left: 8px;
    padding: 8px 10px;
    border-radius: 12px;
    overflow: hidden;
    opacity: 0;
    background: #21212190;
    transition: opacity linear .2s;
}

.log-container .log-content {
    font-size: 13px;
    font-weight: 400;  
    color: white;
}

.log-container .log-title {
    font-size: 15px;
    font-weight: 600;
    color: white;
    display: block;
}